.clients {

  max-width: 1400px;
}

.clients-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 170px;
}

.clients-list img {
  max-width: 120px;
  margin-bottom: 10px;
}