.clients {
  width: 100%vw;
}
.clients-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 170px;
  padding-right: 170px;
}

.clients-list img {
  max-width: 120px;
  margin-bottom: 10px;
}
@media (max-width:900px){
 .clients-list{ margin: 20px;}
}