.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    max-height: 242px;
  
    margin-top: 70px; 
    margin-bottom: 30px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}
.footer-logo a{
    text-align: left;
}
.footer-info img{
    width:90px;
}
.footer-container{
    display: flex;   
  
}
.footer-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
   
}

.footer a{
    text-decoration: none;
    color:var(--neutral-color);
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin-bottom: 40px;
   
}
.footer a:hover, :active{
    color:var(--primary-color);

}
.footer p{
    margin: 0px;
    line-height: normal;
}
.footer-menu{
    display: none;
    
}
@media(max-width:480px){
    .footer{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin:1em;       
        max-height: 100%;      
        
    }
    .footer-info img{
        width:80%;
    }
    .footer-list{
        display: none;      
    }
    .footer a{
        text-decoration: none;
        color:var(--neutral-color);
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        margin-bottom: 1em;
}
.footer-menu{
    display: inline;
   width: 100%;  
   
}
.clients-item{
    width: 40%;

}
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 0px;
    }