* {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    padding: 16px;
}

label {
    font-size: var(--large);
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-label {
    display: flex;
    gap: 47%;
}

.submit {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    padding: 20px;
    cursor: pointer;
    text-align: center;
    color: white
}

/* Full-width input fields */
input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 25px 0 22px 0;
    display: inline-block;
    border: none;
    background: var(--neutral-color);
    opacity: 0.5;
    font-size: var(--medium);

}

::placeholder {
    color: black;
    opacity: 2;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}