:root {
    --theme-color: #ecf7ff;
    --primary-color: #072AC8;
    --secondary-color: #FFC600;
    --terciary-color: #292E47;/*dark color*/
    --neutral-color:#6B708D;
    --text-color: #514D67;
    --text-color-inverse: #FFFFFF;
    /* Font size variables */
    --small: 15px;
    --medium: 17px;
    --large: 20px;
}

/*estilos tamaño móvil*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--theme-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    margin: 70px;
}

h4 {
    font-size: 24px;
}

span {
    font-size: 13px;
}

.cta-form {
    height: 80px;
}

.cta {
    text-align: center;
    background-color: var(--secondary-color);
    max-width: 1320px;
    height: 500px;
    margin-left: 150px;
    padding-top: 80px;

}

.text-field {
    display: contents;
    background-color: white;

}
#envelop {
  
    background-image: url(/assets/newsletter/icon/mail.svg);
    border-color: #FFC600;
    background-position: left;
    background-repeat: no-repeat;
    padding: 1.1em;
    font-size: 17px;
}
/* formato tablet*/
@media (max-width:820px) {
    h3{
        font-size: 1.5em;
        margin: 20px;
    }
    h4{
        font-size: 1.2em;
        margin: 15px;
    }
    a{ 
        font-size: 1.2em;
        margin: 15px;

    }
    .cta {
     max-width: 90%;
     height: 300px;
     margin: 10%;   
     padding: 20px; 
    }

.cta p {
    font-size: var(--large);
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#envelop {
    max-width: 393px;
    max-height: 80px;
    background-image: url(/assets/newsletter/icon/mail.svg);
    border-color: #FFC600;
    background-position: left;
    background-repeat: no-repeat;
    padding: 1.1em;
    font-size: 17px;
}
}