:root{
    --theme-color: #ecf7ff;
    --primary-color: #072AC8;
    --secondary-color: #FFC600;
    --text-color:#514D67;
    --text-color-inverse:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--theme-color);
    color: var(--text-color);
    
}

a{
    text-decoration: none;
    color: var(--primary-color);
}
h1{
   font-size: 2em;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
h3{
    font-size: 18px;   
}
h4{
    font-size: 16px;
}
