.logo img{
   width: 61px;
}
.header {
    display: flex;    
    height: 122px;
    justify-content: space-between;
   
    width: 100%vw; 
    padding-top:52px;
}
.nav-container {
   
    display: flex;
    height: 52px;   
    align-items: center;   
}

.nav-container a {
    text-decoration: none;
    color:var(--neutral-color);
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin-left: 170px;
}
.nav-container a:hover,
.active {
    color:var(--primary-color);
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    column-gap: 100px
}
.nav-contact-link{
    display: none;
}
.nav-btn {
    background-color: var(--primary-color);
    width: 123px;
    height: 56px;
    color: #FFFF;    
    font-size: 17px;
    border: none;
    margin-right: 170px;

  
  font-weight: bold;
    cursor: pointer;
}
#toogleBtn { 
   
    display: none;   
}
@media  (max-width: 820px) {
    .logo img{
        width: 50px;
     }
     .header {      
        height: 100px;                     
     }     
     .nav-container {
        padding: 20px;
         display: flex;
        flex-wrap:nowrap;
         height: 60px;        
     }
         .nav-container a {        
         font-size: large;
         margin-left: 20px;
     }     
     .nav-container a:hover {        
       color: var(--text-color);
    }     
     .nav-menu {
        display: flex;
         list-style: none;
        
     }         
     .nav-btn {
        display:none;     
     }
     #toogleBtn {
        border: none;
        font-size: 30px;
        display: block;
        margin-left: 60px;
        background-color: var(--theme-color);
        color: var(--primary-color);            
    }
   .nav-menu_visible{
    flex-direction: column;
         list-style: none;
         justify-content: space-evenly;
         align-items: center;
         margin-left: 0px;
    
   
   }
}
@media  (max-width: 480px) {
    .nav-container logo{
        width:50%
    }
    .logo img{
        width: 50px;
     }
     .header {      
        height: 70px;   
        padding-top: 0;                  
     }     
     .nav-container {
        padding: 20px;
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-between;
         height: 60px;  
         width: 100%;      
     }
         .nav-container a {        
         font-size: large;
         margin-left: 20px;
     }     
     .nav-container a:hover {        
       color: var(--text-color);
    }     
     .nav-menu {
      position: absolute;
      left: -102px;
        flex-direction: column;
         list-style: none;
        
     }         
    
     #toogleBtn {
        border: none;
        font-size: 30px;
        display: block;
        margin-left: 60px;
        background-color: var(--theme-color);
        color: var(--primary-color);            
    }
   .nav-menu_visible{
    flex-direction: column;
         list-style: none;
         justify-content: space-evenly;
         align-items: center;
         margin-left: 0px;
         right:0;   
   
   }
   .hero-text{
    width:60%;
   }
   .big-card{
    width:60%;
   }
}