.reviews {
    padding-left: 170px;
    padding-right: 170px;
}

.parent {

    height: 620px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 35% 30% 35%;
    grid-column-gap: 20px;
    background-color: var(--terciary-color);
    color: var(--text-color-inverse);
    /* margin-top: 170px; */
    grid-row-gap: 50px;
}

.child {
    align-self: end;
    justify-self: center;
    width: 60px;
    height: auto;
}

.child img {
    max-width: 60px;
}

.child-text {
    padding-top: 100px;
    justify-content: stretch;
    width: auto;
}

.quote {
    font-size: 24px;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 3em;

}

#white {
    text-align: center;
}

.child-author {
    display: flex;
    align-items: stretch;
    align-self: end;
    justify-self: center;
    width: 171px;
    height: 50px;
}

.child-author img {
    max-width: 50px;
}

#blueText {
    margin-left: 10px;
    color: #43D2FF;
    text-align: left;
}

caption {
    font-size: 13px;
}

@media (max-width:820px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        max-width: 90%;
        margin: 10%;

    }

    .child {
        display: none;
    }

    .child-text {
        padding-top: 20px;
    }

    .child-author {
        display: flex;

        width: 171px;
        margin: auto;
    }

}

@media (max-width: 480px) {
    .reviews {
        width: 100%;
        padding: 0;
    }

    .parent {
        max-width: 90%;
        height: auto;


        margin: 20px;
        background-color: var(--terciary-color);
        color: var(--text-color-inverse);
    }


    .child {
        display: none;
    }

    .child img {
        max-width: 60px;
    }

    .child-text {

        justify-content: stretch;
        width: auto;
    }

    .quote {

        color: var(--secondary-color);
        text-align: center;
        padding-top: 2em;
        padding-bottom: 0;
    }

    #white {
        text-align: center;
    }

    .child-author {

        width: 90%;
        margin: 0;
        margin-bottom: 2em;

    }

    .child-author img {
        max-width: 50px;
    }

    #blueText {
        margin-left: 10px;
        color: #43D2FF;
        text-align: left;
    }

    caption {
        font-size: 13px;
    }

}