.services {
  margin-top: 60px;
}
/* tablet*/
@media (max-width:900px){
  .services-text{
    background-color: white;
    margin: 20px;
  }
}
/* desktop*/
@media (min-width: 900px) {
  .services {
    margin-right: 0;
    width: 1440px;
    height: 650px;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    /* width: 1100px;
        height:561px ;  No sé si hay que darle lo que indica el mockup. Fede me lo cambio*/
  }
  
  .services-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  .circle {
    margin: 30px;
    width: 80px;
    height: 80px;
    background-color: var(--theme-color);
    border-radius: 40px;
  }
  .services-item {
    width: 340px;
    height: 380px;
    background-color: white;
  }
  .services-item img {
    padding: 1.1em;
  }
  .services-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px;
  }
  h4 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .services p{
    font-size:var(--large);
    margin-left: 0;
    margin-top: 20px;
    margin-bottom:20px;
    } 
}